.test{
    background-color: red;
    height: 400px;
    width: 400px;
    margin: 200px auto;
    padding: 50px;
    h1{
        color: white;
    }
    p{
        color: white;
        font-size: medium;
    }
}